h1 {
    color: rgb(153, 153, 208);
    border: 6px solid #bac1c5;
    padding: auto 6px;
}

.dark {
    color: #d1efef;
    background-color: rgb(77, 66, 66);
}

a {
    color: rgb(66, 134, 134);
}

.light,
.ordered {
    background-color: #d1efef;
    color:rgb(77, 66, 66);
}

#home {
    background-color: #d1efef;
    width:100%;
    text-align: center;
    margin: 0 auto;
}

.center {
    width:75%;
    text-align: center;
    margin: 0 auto; 
}

.ordered,
.ingredients,
.description {
    width:50%;
    text-align: left;
    margin: 0 auto; 
}

.title {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

img {
    padding: 20px;
}

button {
   /*  display: inline-block;
    margin: 0 auto;
    padding: 8px 24px; */
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    border: 6px solid #bac1c5;
    color: #3498db;
    background-color: rgb(178, 178, 203);
  }
/* How you actually style it is completely open, but you 
should use the external CSS method (for this practice 
and moving forward). You should also try to use several 
of the properties mentioned in the previous lesson (color, 
background color, typography properties, etc). Take some 
time to play around with the various properties to get a 
feel for what they do. For now, don’t worry at all about making 
it look good. This is just to practice and get used to writing CSS, 
not to make something to show off on your resume.